---
footer: footer.njk
---

<footer id="grid_footer">
    <hr>
    <div id="containerF">
        <div id="left_alignF">
            <h3>You may also like to see:</h3>
            <div>
                <a href="/subpages/rigging" class="btn">Rigging</a>
                <a href="/subpages/scripts" class="btn">Scripts</a>
                <a href="/subpages/animation" class="btn">Animation</a>
                <a href="/subpages/game" class="btn">Games</a>
                <a href="/subpages/illustration" class="btn">Illustrations</a>
            </div>
        </div>
        <div id="right_alignF">
            <h3>Let's talk more at: 📧</h3>
            <p><strong>Email:</strong> m.satie@gmail.com</p>
        </div>
    </div>
</footer>
